{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always",
        "objects": "never",
        "imports": "never",
        "exports": "always",
        "functions": "never"
      }
    ],
    "operator-linebreak": ["error", "after"],
    "implicit-arrow-linebreak": ["error", "never"]
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
