@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap&subset=latin-ext');

*,*::after,*::before{
    box-sizing: inherit;
}

html{
    background: #ffffff;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin-bottom: 0;
    padding-bottom: 0;

}
p{
    margin: 0;
}